<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GOLFKit OS X.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GOLFKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29E888AB1DCE5B0000C4A63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29E888B41DCE5B0000C4A63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29E888D81DCE65E000C4A63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29E888E01DCE65E000C4A63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
