<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DZ</key>
	<dict>
		<key>countryCode</key>
		<string>DZ</string>
		<key>countryName</key>
		<string>Algeria</string>
	</dict>
	<key>AR</key>
	<dict>
		<key>countryCode</key>
		<string>AR</string>
		<key>countryName</key>
		<string>Argentina</string>
	</dict>
	<key>AU</key>
	<dict>
		<key>authority</key>
		<string>AGU</string>
		<key>countryCode</key>
		<string>AU</string>
		<key>association</key>
		<string>Golf Australia</string>
		<key>countryName</key>
		<string>Australia</string>
		<key>states</key>
		<array>
			<dict>
				<key>postalCode</key>
				<string>ACT</string>
				<key>stateName</key>
				<string>Au Capital Territory</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NSW</string>
				<key>stateName</key>
				<string>New South Wales</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NT</string>
				<key>stateName</key>
				<string>Northern Territory</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>QLD</string>
				<key>stateName</key>
				<string>Queensland</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>SA</string>
				<key>stateName</key>
				<string>South Australia</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>AS</string>
				<key>stateName</key>
				<string>Tazmania</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>VIC</string>
				<key>stateName</key>
				<string>Victoria</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>WA</string>
				<key>stateName</key>
				<string>Western Australia</string>
			</dict>
		</array>
	</dict>
	<key>AT</key>
	<dict>
		<key>countryCode</key>
		<string>AT</string>
		<key>countryName</key>
		<string>Austria</string>
		<key>association</key>
		<string>Austrian Golf Federation</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>BS</key>
	<dict>
		<key>countryCode</key>
		<string>BS</string>
		<key>association</key>
		<string>Bahamas Golf Federation</string>
		<key>countryName</key>
		<string>Bahamas</string>
		<key>URL</key>
		<string>http://www.bahamasgolf.org</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>BH</key>
	<dict>
		<key>countryCode</key>
		<string>BH</string>
		<key>countryName</key>
		<string>Bahrain</string>
	</dict>
	<key>BE</key>
	<dict>
		<key>countryCode</key>
		<string>BE</string>
		<key>association</key>
		<string>Royal Belgium Golf Federation</string>
		<key>URL</key>
		<string>http://www.golfbelgium.be</string>
		<key>countryName</key>
		<string>Belgium</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>BM</key>
	<dict>
		<key>countryCode</key>
		<string>BM</string>
		<key>countryName</key>
		<string>Bermuda</string>
		<key>association</key>
		<string>Bermuda Golf Association</string>
		<key>URL</key>
		<string>https://www.bermudagolf.org</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>BO</key>
	<dict>
		<key>countryCode</key>
		<string>BO</string>
		<key>countryName</key>
		<string>Bolivia</string>
		<key>association</key>
		<string>Federacion Boliviana de Golf</string>
		<key>URL</key>
		<string>https://www.golfbolivia.com</string>
	</dict>
	<key>BW</key>
	<dict>
		<key>countryCode</key>
		<string>BW</string>
		<key>countryName</key>
		<string>Botswana</string>
	</dict>
	<key>BR</key>
	<dict>
		<key>countryCode</key>
		<string>BR</string>
		<key>association</key>
		<string>Confederação Brasileira de Golfe</string>
		<key>URL</key>
		<string>http://www.cbg.com.br</string>
		<key>countryName</key>
		<string>Brazil</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>BN</key>
	<dict>
		<key>countryCode</key>
		<string>BN</string>
		<key>association</key>
		<string>Brunei Darussalam Golf Association</string>
		<key>countryName</key>
		<string>Brunei Darussalam</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>BG</key>
	<dict>
		<key>countryCode</key>
		<string>BG</string>
		<key>association</key>
		<string>Bulgarian Golf Association</string>
		<key>countryName</key>
		<string>Bulgaria</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>KH</key>
	<dict>
		<key>countryCode</key>
		<string>KH</string>
		<key>countryName</key>
		<string>Cambodia</string>
		<key>association</key>
		<string>Cambodian Golf Federation</string>
		<key>authority</key>
		<string>USGA</string>
		<key>URL</key>
		<string>https://www.igfgolf.org/nationalmembers/cambodian-golf-federation/</string>
	</dict>
	<key>CA</key>
	<dict>
		<key>countryCode</key>
		<string>CA</string>
		<key>association</key>
		<string>Golf Canada</string>
		<key>URL</key>
		<string>http://www.golfcanada.ca</string>
		<key>countryName</key>
		<string>Canada</string>
		<key>authority</key>
		<string>RCGA</string>
		<key>states</key>
		<array>
			<dict>
				<key>postalCode</key>
				<string>AB</string>
				<key>stateName</key>
				<string>Alberta</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>BC</string>
				<key>stateName</key>
				<string>British Columbia</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MB</string>
				<key>stateName</key>
				<string>Manitoba</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NB</string>
				<key>stateName</key>
				<string>New Brunswick</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NL</string>
				<key>stateName</key>
				<string>Newfoundland &amp; Labrador</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NT</string>
				<key>stateName</key>
				<string>Northwest Territories</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NS</string>
				<key>stateName</key>
				<string>Nova Scotia</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NU</string>
				<key>stateName</key>
				<string>Nunavut</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>ON</string>
				<key>stateName</key>
				<string>Ontario</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>PE</string>
				<key>stateName</key>
				<string>Price Edward Island</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>QC</string>
				<key>stateName</key>
				<string>Québec</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>SK</string>
				<key>stateName</key>
				<string>Saskatchewan</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>YT</string>
				<key>stateName</key>
				<string>Yukon</string>
			</dict>
		</array>
	</dict>
	<key>KY</key>
	<dict>
		<key>countryCode</key>
		<string>KY</string>
		<key>association</key>
		<string>Cayman Islands Golf Association</string>
		<key>countryName</key>
		<string>Cayman Islands</string>
		<key>URL</key>
		<string>https://www.ciga.ky</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>CL</key>
	<dict>
		<key>countryCode</key>
		<string>CL</string>
		<key>association</key>
		<string>Federación Chilena de Golf</string>
		<key>URL</key>
		<string>https://www.chilegolf.cl</string>
		<key>countryName</key>
		<string>Chile</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>CN</key>
	<dict>
		<key>countryCode</key>
		<string>CN</string>
		<key>association</key>
		<string>China Golf Association</string>
		<key>URL</key>
		<string>https://www.igfgolf.org/nationalmembers/china-golf-association/</string>
		<key>countryName</key>
		<string>China</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>TW</key>
	<dict>
		<key>countryCode</key>
		<string>TW</string>
		<key>association</key>
		<string>Chinese Taipei Golf Association</string>
		<key>URL</key>
		<string>https://www.igfgolf.org/nationalmembers/chinese-taipei-golf-association/</string>
		<key>countryName</key>
		<string>Chinese Taipei</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>CO</key>
	<dict>
		<key>countryCode</key>
		<string>CO</string>
		<key>association</key>
		<string>Federación Colombiana de Golf</string>
		<key>URL</key>
		<string>https://www.federacioncolombianadegolf.com</string>
		<key>countryName</key>
		<string>Colombia</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>CK</key>
	<dict>
		<key>countryCode</key>
		<string>CK</string>
		<key>countryName</key>
		<string>Cook Islands</string>
	</dict>
	<key>CR</key>
	<dict>
		<key>countryCode</key>
		<string>CR</string>
		<key>association</key>
		<string>Costa Rica Golf Association</string>
		<key>URL</key>
		<string>https://www.anagolf.org</string>
		<key>countryName</key>
		<string>Costa Rica</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>HR</key>
	<dict>
		<key>countryCode</key>
		<string>HR</string>
		<key>association</key>
		<string>Croatian Golf Federation</string>
		<key>countryName</key>
		<string>Croatia</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>CY</key>
	<dict>
		<key>countryCode</key>
		<string>CY</string>
		<key>association</key>
		<string>Cyprus Golf Federation</string>
		<key>URL</key>
		<string>https://www.cgf.org.cy</string>
		<key>countryName</key>
		<string>Cyprus</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>countryCode</key>
		<string>CZ</string>
		<key>association</key>
		<string>Česká golfová federace</string>
		<key>URL</key>
		<string>https://www.cgf.cz</string>
		<key>countryName</key>
		<string>Czech Republic</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>CD</key>
	<dict>
		<key>countryCode</key>
		<string>CD</string>
		<key>countryName</key>
		<string>Republic of the Congo</string>
	</dict>
	<key>DK</key>
	<dict>
		<key>countryCode</key>
		<string>DK</string>
		<key>association</key>
		<string>Dansk Golf Union</string>
		<key>URL</key>
		<string>https://www.danskgolfunion.dk</string>
		<key>countryName</key>
		<string>Denmark</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>DO</key>
	<dict>
		<key>countryCode</key>
		<string>DO</string>
		<key>countryName</key>
		<string>Dominican Republic</string>
		<key>association</key>
		<string>Federación Dominicana de Golf</string>
		<key>URL</key>
		<string>https://fedogolf.org.do</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>EC</key>
	<dict>
		<key>countryCode</key>
		<string>EC</string>
		<key>association</key>
		<string>Federación Ecuatoriana de Golf</string>
		<key>URL</key>
		<string>https://www.feg.org.ec</string>
		<key>countryName</key>
		<string>Ecuador</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>GB</key>
	<dict>
		<key>countryCode</key>
		<string>GB</string>
		<key>association</key>
		<string>Council of National Golf Unions</string>
		<key>URL</key>
		<string>http://www.congu.co.uk</string>
		<key>countryName</key>
		<string>Great Britain</string>
		<key>authority</key>
		<string>CONGU</string>
	</dict>
	<key>EG</key>
	<dict>
		<key>countryCode</key>
		<string>EG</string>
		<key>countryName</key>
		<string>Egypt</string>
	</dict>
	<key>SV</key>
	<dict>
		<key>countryCode</key>
		<string>SV</string>
		<key>countryName</key>
		<string>El Salvador</string>
	</dict>
	<key>EE</key>
	<dict>
		<key>countryCode</key>
		<string>EE</string>
		<key>association</key>
		<string>Estonian Golf Association</string>
		<key>URL</key>
		<string>https://www.golf.ee</string>
		<key>countryName</key>
		<string>Estonia</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>FJ</key>
	<dict>
		<key>countryCode</key>
		<string>FJ</string>
		<key>countryName</key>
		<string>Fiji</string>
	</dict>
	<key>FI</key>
	<dict>
		<key>countryCode</key>
		<string>FI</string>
		<key>association</key>
		<string>Finnish Golf Union</string>
		<key>URL</key>
		<string>https://www.golf.fi</string>
		<key>countryName</key>
		<string>Finland</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>countryCode</key>
		<string>FR</string>
		<key>association</key>
		<string>Fédération Française de Golf</string>
		<key>URL</key>
		<string>https://www.ffgolf.org</string>
		<key>countryName</key>
		<string>France</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>countryCode</key>
		<string>DE</string>
		<key>association</key>
		<string>Deutscher Golf Verband</string>
		<key>URL</key>
		<string>https://www.golf.de</string>
		<key>countryName</key>
		<string>Germany</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>GR</key>
	<dict>
		<key>countryCode</key>
		<string>GR</string>
		<key>countryName</key>
		<string>Greece</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>GU</key>
	<dict>
		<key>countryCode</key>
		<string>GU</string>
		<key>countryName</key>
		<string>Guam</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>GT</key>
	<dict>
		<key>countryCode</key>
		<string>GT</string>
		<key>countryName</key>
		<string>Guatemala</string>
		<key>association</key>
		<string>Guatemala National Golf Association</string>
		<key>URL</key>
		<string>http://www.asogolfguatemala.org</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>HN</key>
	<dict>
		<key>countryCode</key>
		<string>HN</string>
		<key>countryName</key>
		<string>Honduras</string>
	</dict>
	<key>HK</key>
	<dict>
		<key>countryCode</key>
		<string>HK</string>
		<key>association</key>
		<string>Hong Kong Golf Association, Ltd.</string>
		<key>URL</key>
		<string>http://www.hkga.com</string>
		<key>countryName</key>
		<string>Hong Kong</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>HU</key>
	<dict>
		<key>countryCode</key>
		<string>HU</string>
		<key>association</key>
		<string>Hungarian Golf Federation</string>
		<key>URL</key>
		<string>http://www.hungolf.hu</string>
		<key>countryName</key>
		<string>Hungary</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>IS</key>
	<dict>
		<key>countryCode</key>
		<string>IS</string>
		<key>association</key>
		<string>Golf Union of Iceland</string>
		<key>URL</key>
		<string>http://www.golf.is</string>
		<key>countryName</key>
		<string>Iceland</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>IN</key>
	<dict>
		<key>countryCode</key>
		<string>IN</string>
		<key>association</key>
		<string>Indian Golf Union</string>
		<key>countryName</key>
		<string>India</string>
		<key>authority</key>
		<string>USGA</string>
		<key>URL</key>
		<string>http://www.indiangolfunion.org</string>
	</dict>
	<key>ID</key>
	<dict>
		<key>countryCode</key>
		<string>ID</string>
		<key>association</key>
		<string>Indonesia Golf Association</string>
		<key>URL</key>
		<string>http://www.pgionline.org</string>
		<key>countryName</key>
		<string>Indonesia</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>IE</key>
	<dict>
		<key>countryCode</key>
		<string>IE</string>
		<key>association</key>
		<string>Golfing Union of Ireland</string>
		<key>URL</key>
		<string>http://www.gui.ie</string>
		<key>countryName</key>
		<string>Ireland</string>
		<key>authority</key>
		<string>CONGU</string>
	</dict>
	<key>IL</key>
	<dict>
		<key>countryCode</key>
		<string>IL</string>
		<key>association</key>
		<string>Israel Golf Federation</string>
		<key>countryName</key>
		<string>Israel</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>countryCode</key>
		<string>IT</string>
		<key>association</key>
		<string>Federazione Italiana Golf</string>
		<key>URL</key>
		<string>http://www.federgolf.it</string>
		<key>countryName</key>
		<string>Italy</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>CI</key>
	<dict>
		<key>countryCode</key>
		<string>CI</string>
		<key>countryName</key>
		<string>Ivory Coast</string>
	</dict>
	<key>JM</key>
	<dict>
		<key>countryCode</key>
		<string>JM</string>
		<key>countryName</key>
		<string>Jamaica</string>
	</dict>
	<key>JP</key>
	<dict>
		<key>countryCode</key>
		<string>JP</string>
		<key>association</key>
		<string>Japan Golf Association</string>
		<key>countryName</key>
		<string>Japan</string>
		<key>authority</key>
		<string>USGA</string>
		<key>URL</key>
		<string>http://www.jga.or.jp</string>
	</dict>
	<key>KZ</key>
	<dict>
		<key>countryCode</key>
		<string>KZ</string>
		<key>association</key>
		<string>National Federation of Golf of the Republic of Kazakhstan</string>
		<key>URL</key>
		<string>http://www.golfbelgium.be</string>
		<key>countryName</key>
		<string>Kazakhstan</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>KR</key>
	<dict>
		<key>countryCode</key>
		<string>KR</string>
		<key>countryName</key>
		<string>Korea</string>
		<key>association</key>
		<string>Korea Golf Association</string>
		<key>URL</key>
		<string>http://www.kgagolf.or.kr</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>LV</key>
	<dict>
		<key>countryCode</key>
		<string>LV</string>
		<key>association</key>
		<string>Latvian Golf Federation</string>
		<key>URL</key>
		<string>http://www.lgf.lv</string>
		<key>countryName</key>
		<string>Latvia</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>LB</key>
	<dict>
		<key>countryCode</key>
		<string>LB</string>
		<key>countryName</key>
		<string>Lebanon</string>
	</dict>
	<key>LY</key>
	<dict>
		<key>countryCode</key>
		<string>LY</string>
		<key>countryName</key>
		<string>Libya</string>
	</dict>
	<key>LT</key>
	<dict>
		<key>countryCode</key>
		<string>LT</string>
		<key>association</key>
		<string>Lithuanian Golf Federation</string>
		<key>countryName</key>
		<string>Lithuania</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>LU</key>
	<dict>
		<key>countryCode</key>
		<string>LU</string>
		<key>association</key>
		<string>Federation Luxembourgoise de Golf</string>
		<key>URL</key>
		<string>http://www.flgolf.lu</string>
		<key>countryName</key>
		<string>Luxembourg</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>MY</key>
	<dict>
		<key>countryCode</key>
		<string>MY</string>
		<key>association</key>
		<string>Malaysian Golf Association</string>
		<key>countryName</key>
		<string>Malaysia</string>
		<key>URL</key>
		<string>http://www.mgaonline.com.my</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>MX</key>
	<dict>
		<key>countryCode</key>
		<string>MX</string>
		<key>association</key>
		<string>Federación Mexicana de Golf</string>
		<key>URL</key>
		<string>http://www.mexgolf.org</string>
		<key>countryName</key>
		<string>Mexico</string>
		<key>authority</key>
		<string>USGA</string>
		<key>states</key>
		<array>
			<dict>
				<key>postalCode</key>
				<string>AG</string>
				<key>stateName</key>
				<string>Aguascalientes</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>BC</string>
				<key>stateName</key>
				<string>Baja California Norte</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>BS</string>
				<key>stateName</key>
				<string>Baja California Sur</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>CM</string>
				<key>stateName</key>
				<string>Campeche</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>CS</string>
				<key>stateName</key>
				<string>Chiapas</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>CH</string>
				<key>stateName</key>
				<string>Chihuahua</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>CO</string>
				<key>stateName</key>
				<string>Coahuila</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>CL</string>
				<key>stateName</key>
				<string>Colima</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>DF</string>
				<key>stateName</key>
				<string>Distrito Federal</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>DG</string>
				<key>stateName</key>
				<string>Durango</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>GT</string>
				<key>stateName</key>
				<string>Guanojuato</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>GR</string>
				<key>stateName</key>
				<string>Guerrero</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>HG</string>
				<key>stateName</key>
				<string>Hidalgo</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>JA</string>
				<key>stateName</key>
				<string>Jalisco</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MX</string>
				<key>stateName</key>
				<string>Mexico</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MI</string>
				<key>stateName</key>
				<string>Michoacan</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MO</string>
				<key>stateName</key>
				<string>Morelos</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NA</string>
				<key>stateName</key>
				<string>Nayarit</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NL</string>
				<key>stateName</key>
				<string>Nuevo Leon</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>OA</string>
				<key>stateName</key>
				<string>Oaxaca</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>PU</string>
				<key>stateName</key>
				<string>Puebla</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>QT</string>
				<key>stateName</key>
				<string>Queretaro</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>QR</string>
				<key>stateName</key>
				<string>Quintana Roo</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>SL</string>
				<key>stateName</key>
				<string>San Luis Potosi</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>SI</string>
				<key>stateName</key>
				<string>Sinaloa</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>SO</string>
				<key>stateName</key>
				<string>Sonora</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>TB</string>
				<key>stateName</key>
				<string>Tabasco</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>TM</string>
				<key>stateName</key>
				<string>Tamaulipas</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>TL</string>
				<key>stateName</key>
				<string>Tlaxcala</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>VE</string>
				<key>stateName</key>
				<string>Veracruz</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>YU</string>
				<key>stateName</key>
				<string>Yucatan</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>ZA</string>
				<key>stateName</key>
				<string>Zacatecas</string>
			</dict>
		</array>
	</dict>
	<key>ME</key>
	<dict>
		<key>countryCode</key>
		<string>ME</string>
		<key>association</key>
		<string>Golf Association of Montenegro</string>
		<key>URL</key>
		<string>http://www.golfmontenegro.org</string>
		<key>countryName</key>
		<string>Montenegro</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>MC</key>
	<dict>
		<key>countryCode</key>
		<string>MC</string>
		<key>countryName</key>
		<string>Monaco</string>
	</dict>
	<key>MA</key>
	<dict>
		<key>countryCode</key>
		<string>MA</string>
		<key>countryName</key>
		<string>Morocco</string>
	</dict>
	<key>MM</key>
	<dict>
		<key>countryCode</key>
		<string>MM</string>
		<key>countryName</key>
		<string>Myanmar</string>
	</dict>
	<key>NL</key>
	<dict>
		<key>countryCode</key>
		<string>NL</string>
		<key>association</key>
		<string>Netherlandse Golf Federatie</string>
		<key>URL</key>
		<string>http://www.ngf.nl</string>
		<key>countryName</key>
		<string>Netherlands</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>NZ</key>
	<dict>
		<key>countryCode</key>
		<string>NZ</string>
		<key>association</key>
		<string>New Zealand Golf</string>
		<key>URL</key>
		<string>http://www.nzga.co.nz</string>
		<key>countryName</key>
		<string>New Zealand</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>NI</key>
	<dict>
		<key>countryCode</key>
		<string>NI</string>
		<key>countryName</key>
		<string>Nicaragua</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>countryCode</key>
		<string>NO</string>
		<key>association</key>
		<string>Norwegian Golf Association</string>
		<key>URL</key>
		<string>http://www.ngf.golf.no</string>
		<key>countryName</key>
		<string>Norway</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>OM</key>
	<dict>
		<key>countryCode</key>
		<string>OM</string>
		<key>countryName</key>
		<string>Oman</string>
		<key>association</key>
		<string>Oman Golf Committee</string>
		<key>URL</key>
		<string>http://www.golfoman.com</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>PK</key>
	<dict>
		<key>countryCode</key>
		<string>PK</string>
		<key>countryName</key>
		<string>Pakistan</string>
	</dict>
	<key>PA</key>
	<dict>
		<key>countryCode</key>
		<string>PA</string>
		<key>countryName</key>
		<string>Panama</string>
		<key>association</key>
		<string>Panama Golf Association</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>PG</key>
	<dict>
		<key>countryCode</key>
		<string>PG</string>
		<key>countryName</key>
		<string>Papua</string>
	</dict>
	<key>PY</key>
	<dict>
		<key>countryCode</key>
		<string>PY</string>
		<key>countryName</key>
		<string>Paraguay</string>
		<key>association</key>
		<string>Paraguay Golf Association</string>
		<key>URL</key>
		<string>http://www.apg.org.py</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>PE</key>
	<dict>
		<key>countryCode</key>
		<string>PE</string>
		<key>association</key>
		<string>Federacion Peruana de Golf</string>
		<key>URL</key>
		<string>http://www.fpg.org.pe</string>
		<key>countryName</key>
		<string>Peru</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>PH</key>
	<dict>
		<key>countryCode</key>
		<string>PH</string>
		<key>association</key>
		<string>National Golf Association of the Philippines</string>
		<key>URL</key>
		<string>http://www.ngapgolf.com</string>
		<key>countryName</key>
		<string>Philippines</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>PL</key>
	<dict>
		<key>countryCode</key>
		<string>PL</string>
		<key>association</key>
		<string>Polish Golf Union</string>
		<key>URL</key>
		<string>http://www.pzgolf.pl</string>
		<key>countryName</key>
		<string>Poland</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>PT</key>
	<dict>
		<key>countryCode</key>
		<string>PT</string>
		<key>association</key>
		<string>Federacao Portuguesa de Golfe</string>
		<key>URL</key>
		<string>http://www.fpg.pt</string>
		<key>countryName</key>
		<string>Portugal</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>PR</key>
	<dict>
		<key>countryCode</key>
		<string>PR</string>
		<key>countryName</key>
		<string>Puerto Rico</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>QA</key>
	<dict>
		<key>countryCode</key>
		<string>QA</string>
		<key>countryName</key>
		<string>Qatar</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>countryCode</key>
		<string>RU</string>
		<key>association</key>
		<string>Russian Golf Association</string>
		<key>URL</key>
		<string>http://www.rusgolf.ru</string>
		<key>countryName</key>
		<string>Russia</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>SM</key>
	<dict>
		<key>countryCode</key>
		<string>SM</string>
		<key>countryName</key>
		<string>San Marino</string>
	</dict>
	<key>SA</key>
	<dict>
		<key>countryCode</key>
		<string>SA</string>
		<key>countryName</key>
		<string>Saudi Arabia</string>
	</dict>
	<key>RS</key>
	<dict>
		<key>countryCode</key>
		<string>RS</string>
		<key>association</key>
		<string>Serbian Golf Association</string>
		<key>URL</key>
		<string>http://www.golfclub.co.yu</string>
		<key>countryName</key>
		<string>Serbia</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>SG</key>
	<dict>
		<key>countryCode</key>
		<string>SG</string>
		<key>association</key>
		<string>Singapore Golf Association</string>
		<key>URL</key>
		<string>http://www.sga.org.sg</string>
		<key>countryName</key>
		<string>Singapore</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>SK</key>
	<dict>
		<key>countryCode</key>
		<string>SK</string>
		<key>association</key>
		<string>Slovak Golf Association</string>
		<key>countryName</key>
		<string>Slovakia</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>SI</key>
	<dict>
		<key>countryCode</key>
		<string>SI</string>
		<key>association</key>
		<string>Golf Association of Slovenia</string>
		<key>URL</key>
		<string>http://www.golfportal.info</string>
		<key>countryName</key>
		<string>Slovenia</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>ZA</key>
	<dict>
		<key>countryCode</key>
		<string>ZA</string>
		<key>association</key>
		<string>South African Golf Association</string>
		<key>URL</key>
		<string>http://www.saga.co.za</string>
		<key>countryName</key>
		<string>South Africa</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>countryCode</key>
		<string>ES</string>
		<key>association</key>
		<string>Real Federación Españo de Golf</string>
		<key>URL</key>
		<string>http://www.golfspainfederacion.com</string>
		<key>countryName</key>
		<string>Spain</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>LK</key>
	<dict>
		<key>countryCode</key>
		<string>LK</string>
		<key>association</key>
		<string>Sri Lanka Golf Association</string>
		<key>countryName</key>
		<string>Sri Lanka</string>
		<key>URL</key>
		<string>http://www.slgu.org</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>countryCode</key>
		<string>SE</string>
		<key>association</key>
		<string>Swedish Golf Federation</string>
		<key>URL</key>
		<string>http://www.golf.se</string>
		<key>countryName</key>
		<string>Sweden</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>CH</key>
	<dict>
		<key>countryCode</key>
		<string>CH</string>
		<key>association</key>
		<string>Association Swisse de Golf</string>
		<key>URL</key>
		<string>http://www.asg.ch</string>
		<key>countryName</key>
		<string>Switzerland</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>TH</key>
	<dict>
		<key>countryCode</key>
		<string>TH</string>
		<key>association</key>
		<string>Thailand Golf Association</string>
		<key>URL</key>
		<string>http://www.tga.or.th</string>
		<key>countryName</key>
		<string>Thailand</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>TT</key>
	<dict>
		<key>countryCode</key>
		<string>TT</string>
		<key>association</key>
		<string>Trinidad &amp; Tobago Golf Association</string>
		<key>URL</key>
		<string>http://www.ttgolfassociation.org</string>
		<key>countryName</key>
		<string>Trinidad &amp; Tobago</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>countryCode</key>
		<string>TR</string>
		<key>association</key>
		<string>Turkish Golf Federation</string>
		<key>URL</key>
		<string>http://www.tgf.org.tr</string>
		<key>countryName</key>
		<string>Turkey</string>
		<key>authority</key>
		<string>EGA</string>
	</dict>
	<key>UA</key>
	<dict>
		<key>countryCode</key>
		<string>UA</string>
		<key>association</key>
		<string>Emirates Golf Federation</string>
		<key>URL</key>
		<string>http://www.emiratesgolffederation.com</string>
		<key>countryName</key>
		<string>United Arab Emirates</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>UK</key>
	<dict>
		<key>countryCode</key>
		<string>UK</string>
		<key>countryName</key>
		<string>United Kingdom</string>
		<key>authority</key>
		<string>CONGU</string>
		<key>association</key>
		<string>Council of National Golf Unions</string>
		<key>URL</key>
		<string>http://www.congu.com</string>
	</dict>
	<key>UK-EN</key>
	<dict>
		<key>countryCode</key>
		<string>UK</string>
		<key>countryName</key>
		<string>England</string>
		<key>authority</key>
		<string>CONGU</string>
		<key>association</key>
		<string>English Golf Union</string>
		<key>URL</key>
		<string>http://www.englishgolfunion.org</string>
	</dict>
	<key>UK-SC</key>
	<dict>
		<key>countryCode</key>
		<string>UK</string>
		<key>countryName</key>
		<string>Scotland</string>
		<key>authority</key>
		<string>CONGU</string>
		<key>association</key>
		<string>Scottish Golf Union</string>
		<key>URL</key>
		<string>http://www.scottishgolfunion.org</string>
	</dict>
	<key>UK-NI</key>
	<dict>
		<key>countryCode</key>
		<string>UK</string>
		<key>countryName</key>
		<string>Northern Ireland</string>
		<key>authority</key>
		<string>CONGU</string>
	</dict>
	<key>UK-WL</key>
	<dict>
		<key>countryCode</key>
		<string>UK</string>
		<key>countryName</key>
		<string>Wales</string>
		<key>authority</key>
		<string>CONGU</string>
		<key>association</key>
		<string>Golf Union of Wales</string>
		<key>URL</key>
		<string>http://www.welshgolf.org</string>
	</dict>
	<key>US</key>
	<dict>
		<key>countryCode</key>
		<string>US</string>
		<key>association</key>
		<string>United States Golf Association</string>
		<key>URL</key>
		<string>http://www.usga.org</string>
		<key>countryName</key>
		<string>United States</string>
		<key>authority</key>
		<string>WHS</string>
		<key>states</key>
		<array>
			<dict>
				<key>postalCode</key>
				<string>AL</string>
				<key>stateName</key>
				<string>Alabama</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>AK</string>
				<key>stateName</key>
				<string>Alaska</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>AZ</string>
				<key>stateName</key>
				<string>Arizona</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>AR</string>
				<key>stateName</key>
				<string>Arkansas</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>CA</string>
				<key>stateName</key>
				<string>California</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>CO</string>
				<key>stateName</key>
				<string>Colorado</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>CT</string>
				<key>stateName</key>
				<string>Connecticut</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>DE</string>
				<key>stateName</key>
				<string>Delaware</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>DC</string>
				<key>stateName</key>
				<string>District of Columbia</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>FM</string>
				<key>stateName</key>
				<string>Federated States of Micronesia</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>FL</string>
				<key>stateName</key>
				<string>Florida</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>GA</string>
				<key>stateName</key>
				<string>Georgia</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>GU</string>
				<key>stateName</key>
				<string>Guam</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>HI</string>
				<key>stateName</key>
				<string>Hawaii</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>ID</string>
				<key>stateName</key>
				<string>Idaho</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>IL</string>
				<key>stateName</key>
				<string>Illinois</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>IN</string>
				<key>stateName</key>
				<string>Indiana</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>IA</string>
				<key>stateName</key>
				<string>Iowa</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>KS</string>
				<key>stateName</key>
				<string>Kansas</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>KY</string>
				<key>stateName</key>
				<string>Kentucky</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>LA</string>
				<key>stateName</key>
				<string>Louisiana</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>ME</string>
				<key>stateName</key>
				<string>Maine</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MH</string>
				<key>stateName</key>
				<string>Marshall Islands</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MD</string>
				<key>stateName</key>
				<string>Maryland</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MA</string>
				<key>stateName</key>
				<string>Massachusetts</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MI</string>
				<key>stateName</key>
				<string>Michigan</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MN</string>
				<key>stateName</key>
				<string>Minnesota</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MS</string>
				<key>stateName</key>
				<string>Mississippi</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MO</string>
				<key>stateName</key>
				<string>Missouri</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MT</string>
				<key>stateName</key>
				<string>Montana</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NE</string>
				<key>stateName</key>
				<string>Nebraska</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NV</string>
				<key>stateName</key>
				<string>Nevada</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NH</string>
				<key>stateName</key>
				<string>New Hampshire</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NJ</string>
				<key>stateName</key>
				<string>New Jersey</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NM</string>
				<key>stateName</key>
				<string>New Mexico</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NY</string>
				<key>stateName</key>
				<string>New York</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>NC</string>
				<key>stateName</key>
				<string>North Carolina</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>ND</string>
				<key>stateName</key>
				<string>North Dakota</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>MP</string>
				<key>stateName</key>
				<string>Northern Mariana Islands</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>OH</string>
				<key>stateName</key>
				<string>Ohio</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>OK</string>
				<key>stateName</key>
				<string>Oklahoma</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>OR</string>
				<key>stateName</key>
				<string>Oregon</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>PW</string>
				<key>stateName</key>
				<string>Palau</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>PA</string>
				<key>stateName</key>
				<string>Pennsylvania</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>PR</string>
				<key>stateName</key>
				<string>Puerto Rico</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>RI</string>
				<key>stateName</key>
				<string>Rhode Island</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>SC</string>
				<key>stateName</key>
				<string>South Carolina</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>SD</string>
				<key>stateName</key>
				<string>South Dakota</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>TN</string>
				<key>stateName</key>
				<string>Tennessee</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>TX</string>
				<key>stateName</key>
				<string>Texas</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>UT</string>
				<key>stateName</key>
				<string>Utah</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>VT</string>
				<key>stateName</key>
				<string>Vermont</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>VI</string>
				<key>stateName</key>
				<string>Virgin Islands</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>VA</string>
				<key>stateName</key>
				<string>Virginia</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>WA</string>
				<key>stateName</key>
				<string>Washington</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>WV</string>
				<key>stateName</key>
				<string>West Virginia</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>WI</string>
				<key>stateName</key>
				<string>Wisconsin</string>
			</dict>
			<dict>
				<key>postalCode</key>
				<string>WY</string>
				<key>stateName</key>
				<string>Wyoming</string>
			</dict>
		</array>
	</dict>
	<key>VU</key>
	<dict>
		<key>countryCode</key>
		<string>VU</string>
		<key>countryName</key>
		<string>Vanuatu</string>
	</dict>
	<key>VE</key>
	<dict>
		<key>countryCode</key>
		<string>VE</string>
		<key>association</key>
		<string>Federación Venezolana Golf</string>
		<key>URL</key>
		<string>http://www.fvg.org</string>
		<key>countryName</key>
		<string>Venezuela</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>VN</key>
	<dict>
		<key>countryCode</key>
		<string>VN</string>
		<key>countryName</key>
		<string>Vietnam</string>
		<key>association</key>
		<string>Vietnam Golf Association</string>
		<key>URL</key>
		<string>http://www.vga.com.vn</string>
		<key>authority</key>
		<string>USGA</string>
	</dict>
	<key>ZW</key>
	<dict>
		<key>countryCode</key>
		<string>ZW</string>
		<key>countryName</key>
		<string>Zimbabwe</string>
	</dict>
</dict>
</plist>
